
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<IdentityUser>

<h2>User Management</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "Users", new { area = "Admin", id = user.Id })" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

