@{
    ViewData["Title"] = "Xác nhận đơn hàng";
}

<section class="order-confirmation spad">
    <div class="container">
        <h4>Cảm ơn bạn đã đặt hàng!</h4>
        <p>Đơn hàng của bạn đã được ghi nhận và đang chờ xử lý. Chúng tôi sẽ liên hệ với bạn sớm nhất có thể.</p>
    </div>
</section>
