@model IEnumerable<WebsiteTMDT.Areas.Admin.Models.EF.ProductCategory>
<div class="col-lg-3 col-md-5">
    <div class="sidebar">
        <div class="sidebar__item">
            <h4>Danh mục</h4>
            <ul>
                @foreach (var item in Model)
                {
                    <li><a href="@Url.RouteUrl("Category", new { categoryAlias = item.Alias })">@item.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>
